.venv/
__pycache__/
*.pyc
.vscode/
data/raw/*
!data/raw/README.md
mlruns/
models/
*.log
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
mlruns/
mlflow.db
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
.DS_Store
